:host {
  display: contents;
}

mat-card-header {
  flex-flow: column;
  background-color: rgba(64,81,181,.12);

  .basic {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .advanced {
    display: flex;
    flex-direction: column;

    .advanced-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
  }
}

mat-card-content {
  padding-top: 16px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1em;
}


