<mat-card>
  <ng-container [formGroup]="optionSet">
    <mat-card-header>
      <mat-form-field>
        <mat-label>Set Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
      <button mat-mini-fab color="warn" (click)="removeOptionSet()" [disabled]="!removable" type="button">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-slide-toggle color="accent" formControlName="enabled"></mat-slide-toggle>
      <mat-slide-toggle color="accent" formControlName="isAbstract">Abstract Set</mat-slide-toggle>
      <mat-form-field appearance="fill">
        <mat-label>This Set Extends</mat-label>
        <mat-select formControlName="extensionOf">
          <mat-option *ngFor="let extSet of extendableSets" [value]="extSet.formValue">
            {{extSet.displayValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Scope Limit</mat-label>
        <mat-select formControlName="scopeLimiter">
          <mat-option [value]="null">None</mat-option>
          <mat-optgroup *ngFor="let group of scopeLimiterGroups" [label]="group.displayValue">
            <mat-option *ngFor="let limiterOpt of group.ddOptions" [value]="limiterOpt.formValue">
              {{limiterOpt.displayValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <ng-container formArrayName="options">
        <ng-container *ngFor="let option of options.controls; let i=index">
          <app-option-form [option]="option" (remove)="removeOption(i)"></app-option-form>
        </ng-container>
        <button mat-raised-button color="primary" (click)="addOption()" type="button">New Option</button>
      </ng-container>
    </mat-card-content>
  </ng-container>
</mat-card>
